# Python virtual environment
.venv

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
build/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Code coverage
coverage/
*.lcov

# Caches
.eslintcache
.cache
*.tsbuildinfo

# Archives
*.tgz

# Model files
*.onnx
