@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100vh;
}

body, html, main {
    background: transparent;
}

main {
    min-height: 100vh;
    height: 100vh;
}
